# 1 Missing Value Ratio

What is the meaning of Missing Value Ratio?
> Same as name find the ratio of missing value in dataset.

Formula:-
> The number of missing values in each column divided by the total number of observation multiply by 100

1. Then we have to check number of missing value.
2. Then we have to check number of threshold value(well for threshold value there is no rocket science role).
3. Then we have to check is there any missing value is remainin or not is there then we havw to remove by using statistical measures.

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
df = pd.read_csv('travel-times.csv')

In [119]:
df.head()

,Date,StartTime,DayOfWeek,GoingTo,Distance,MaxSpeed,AvgSpeed,AvgMovingSpeed,FuelEconomy,TotalTime,MovingTime,Take407All,Comments
0,1/6/2012,16:37,Friday,Home,51.29,127.4,78.3,84.8,NaN,39.3,36.3,No,NaN
1,1/6/2012,08:20,Friday,GSK,51.63,130.3,81.8,88.9,NaN,37.9,34.9,No,NaN
2,1/4/2012,16:17,Wednesday,Home,51.27,127.4,82.0,85.8,NaN,37.5,35.9,No,NaN
3,1/4/2012,07:53,Wednesday,GSK,49.17,132.3,74.2,82.9,NaN,39.8,35.6,No,NaN
4,1/3/2012,18:57,Tuesday,Home,51.15,136.2,83.4,88.1,NaN,36.8,34.8,No,NaN

In [145]:
aa=df['FuelEconomy'].replace([df['FuelEconomy'][0],'-'],'7.89')
df['FuelEconomy']=aa.replace('111',aa.mode()[0])
df['FuelEconomy']

0      7.89
1      7.89
2      7.89
3      7.89
4      7.89
       ...
200    7.89
201    7.89
202    7.89
203    7.89
204    7.89
Name: FuelEconomy, Length: 205, dtype: object

In [146]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            205 non-null    object
 1   StartTime       205 non-null    object
 2   DayOfWeek       205 non-null    object
 3   GoingTo         205 non-null    object
 4   Distance        205 non-null    float64
 5   MaxSpeed        205 non-null    float64
 6   AvgSpeed        205 non-null    float64
 7   AvgMovingSpeed  205 non-null    float64
 8   FuelEconomy     205 non-null    object
 9   TotalTime       205 non-null    float64
 10  MovingTime      205 non-null    float64
 11  Take407All      205 non-null    object
 12  Comments        24 non-null     object
dtypes: float64(6), object(7)
memory usage: 20.9+ KB

In [147]:
df.isnull().sum()

Date                0
StartTime           0
DayOfWeek           0
GoingTo             0
Distance            0
MaxSpeed            0
AvgSpeed            0
AvgMovingSpeed      0
FuelEconomy         0
TotalTime           0
MovingTime          0
Take407All          0
Comments          181
dtype: int64

In [148]:
df.isnull().sum()/len(df)*100

Date               0.000000
StartTime          0.000000
DayOfWeek          0.000000
GoingTo            0.000000
Distance           0.000000
MaxSpeed           0.000000
AvgSpeed           0.000000
AvgMovingSpeed     0.000000
FuelEconomy        0.000000
TotalTime          0.000000
MovingTime         0.000000
Take407All         0.000000
Comments          88.292683
dtype: float64

In [142]:
a = df.isnull().sum()/len(df)*100

variables = df.columns

In [143]:
variable = [ ]

for i in range(df.columns.shape[0]):
    if a[i]<=35:
        variable.append(variables[i])
variable

['Date',
 'StartTime',
 'DayOfWeek',
 'GoingTo',
 'Distance',
 'MaxSpeed',
 'AvgSpeed',
 'AvgMovingSpeed',
 'FuelEconomy',
 'TotalTime',
 'MovingTime',
 'Take407All']

In [144]:
new_data = df[variable]
new_data.head()

,Date,StartTime,DayOfWeek,GoingTo,Distance,MaxSpeed,AvgSpeed,AvgMovingSpeed,FuelEconomy,TotalTime,MovingTime,Take407All
0,1/6/2012,16:37,Friday,Home,51.29,127.4,78.3,84.8,111,39.3,36.3,No
1,1/6/2012,08:20,Friday,GSK,51.63,130.3,81.8,88.9,111,37.9,34.9,No
2,1/4/2012,16:17,Wednesday,Home,51.27,127.4,82.0,85.8,111,37.5,35.9,No
3,1/4/2012,07:53,Wednesday,GSK,49.17,132.3,74.2,82.9,111,39.8,35.6,No
4,1/3/2012,18:57,Tuesday,Home,51.15,136.2,83.4,88.1,111,36.8,34.8,No

In [149]:
new_data.isnull().sum()/len(new_data)*100

Date              0.0
StartTime         0.0
DayOfWeek         0.0
GoingTo           0.0
Distance          0.0
MaxSpeed          0.0
AvgSpeed          0.0
AvgMovingSpeed    0.0
FuelEconomy       0.0
TotalTime         0.0
MovingTime        0.0
Take407All        0.0
dtype: float64

In [ ]:
new_data.shape, df.shape

((205, 12), (205, 13))