# 2. Low variance in the column values

what is low variance filter?
> low variance filter useful dimensionality reduction algorithm.

How it's work.
1. Basically, variance can only be calculated for numerical columns.
2. Then calculates each column variance and removes those columns with a variance value below a given threshold.

In [65]:
#import libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [66]:
df=pd.read_csv('travel-times.csv')

In [ ]:
df['FuelEconomy']=df['FuelEconomy'].replace([df['FuelEconomy'][0],'-'],'7.81').replace('7.81',df['FuelEconomy'].mode()[0])
df['FuelEconomy'].head(30)

In [74]:
counts = df['FuelEconomy'].value_counts()
counts

8.33     38
8.54     20
8.75     13
9.16     11
8.45     10
8.37     10
7.97     10
7.89      9
9.35      8
8.32      8
8.89      8
9.53      8
8.48      8
9.08      8
9.76      7
8.31      6
9.3       6
8.97      6
10.05     4
8.93      4
8.28      3
Name: FuelEconomy, dtype: int64

In [75]:
a = df.isnull().sum()/len(df)*100
variables = df.columns

In [ ]:
variable = [ ]

for i in range(df.columns.shape[0]):
    if a[i]<=35:
        variable.append(variables[i])
variable

In [ ]:
data = df[variable]
data.head(30)

In [81]:
#check datatype 
data.dtypes

Date               object
StartTime          object
DayOfWeek          object
GoingTo            object
Distance          float64
MaxSpeed          float64
AvgSpeed          float64
AvgMovingSpeed    float64
FuelEconomy        object
TotalTime         float64
MovingTime        float64
Take407All         object
dtype: object

In [82]:
#store only numerical value and rest of removed
data = data.drop(['Date','StartTime','DayOfWeek','GoingTo','FuelEconomy','Take407All'], axis=1)
data

     Distance  MaxSpeed  AvgSpeed  AvgMovingSpeed  TotalTime  MovingTime
0       51.29     127.4      78.3            84.8       39.3        36.3
1       51.63     130.3      81.8            88.9       37.9        34.9
2       51.27     127.4      82.0            85.8       37.5        35.9
3       49.17     132.3      74.2            82.9       39.8        35.6
4       51.15     136.2      83.4            88.1       36.8        34.8
..        ...       ...       ...             ...        ...         ...
200     54.52     125.6      49.9            82.4       65.5        39.7
201     50.90     123.7      76.2            95.1       40.1        32.1
202     51.96     132.6      57.5            76.7       54.2        40.6
203     53.28     125.8      61.6            87.6       51.9        36.5
204     51.73     125.0      62.8            92.5       49.5        33.6

[205 rows x 6 columns]

In [83]:
from sklearn.preprocessing import normalize
normalize = normalize(data)
data_scaled = pd.DataFrame(normalize)
data_scaled.var()

0    0.000151
1    0.000555
2    0.002147
3    0.001470
4    0.001894
5    0.001060
dtype: float64

In [84]:
variance=data_scaled.var()
columns=data.columns
columns

Index(['Distance', 'MaxSpeed', 'AvgSpeed', 'AvgMovingSpeed', 'TotalTime',
       'MovingTime'],
      dtype='object')

In [85]:
#store only those variable who have morethen 1% threshold value 

variable = [ ]

for i in range(0,len(variance)):
    if variance[i]>=0.001:
        variable.append(columns[i])

variable

['AvgSpeed', 'AvgMovingSpeed', 'TotalTime', 'MovingTime']

In [86]:
new_data = data[variable]
new_data.head()

   AvgSpeed  AvgMovingSpeed  TotalTime  MovingTime
0      78.3            84.8       39.3        36.3
1      81.8            88.9       37.9        34.9
2      82.0            85.8       37.5        35.9
3      74.2            82.9       39.8        35.6
4      83.4            88.1       36.8        34.8

In [87]:
new_data.var()

AvgSpeed          130.183906
AvgMovingSpeed    102.243324
TotalTime          46.915324
MovingTime         23.377921
dtype: float64

In [88]:
print(data.shape)
print(new_data.shape)

(205, 6)
(205, 4)